/* general styling ---------------------------------------- */

main{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #8BC6EC;
  /* background-image: linear-gradient(135deg,white 0%, #99BADD 100%); */
}

form {
  text-align: center;
}

a:hover{
  color:rgb(153, 186, 221);
  cursor: alias;
  text-decoration: underline;
}

a{
  text-decoration: none;
}

::placeholder{color: white;}

/* - NavBar ---------------------------------------------------- */

.NavBar{
  align-items: center;
  justify-items: center;
  background-color: rgb(153, 186, 221);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 80px;
  font-size:18px;
}

#logo{
  display : grid;
  grid-column-start: 1;
  grid-column-end: 1;
}

#weather-icon{
  height:65px;
}

.weatherDisplay{
  display: flex;
  color: white;
  text-align: center;
}

#welcome{
  padding-left: 95px;
  color: white;
  display : grid; 
  grid-column-start: 3;
  grid-column-end: 3;
}

#logout{
  padding: 5px;
  text-decoration: none;
  display : grid; 
  grid-column-start: 4;
  grid-column-end: 4;
  outline: none;
  border: none;
}

#logout:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(153, 186, 221);
  box-shadow: 4px 4px 24px 4px rgb(153, 186, 221);
}
 
 /* - Banner ---------------------------------------------------- */

.banner-container {
  background-image: url("../src/assets/banner/emoji_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 3px;
}

/* - Home ---------------------------------------------------- */

.home{
  display : grid;
  border: 5px solid rgb(153, 186, 221);
  margin: 30px; 
  padding: 1px;
  box-sizing: border-box;
  width: auto;
  min-height: 68vh; 
  padding-bottom: 10px;
  border-radius: 10px;
}

#descript{
  width: 50%;
  text-align: center;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  font-size:24px;
  font-weight:400;
}

.inHomeBox{
  margin-top: 43px;
  text-align: center;
}

#hbNewEntry{
   background-color: rgb(153, 186, 221);
   color: white;
   width: 400px;
}

.newEntryB{
  width : 200px;
  height: 50px;
  border-radius : 10px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none
}

.newEntryB:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(153, 186, 221);
  box-shadow: 4px 4px 24px 4px rgb(153, 186, 221);
}

/* - Login ---------------------------------------------------- */

.login{
  align-items: center;
  justify-items: center;
  display : grid;
  grid-template-columns: repeat(3 1fr);
  border-radius: 10px;
  margin: 0px;
}

#email{
  outline: none;
  text-align: center;
  color: white;
  grid-column-start: 2;
  grid-column-end: 2;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-top: 100px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none;
}

#password{
  outline: none;
  margin-left: 30px;
  text-align: center;
  color: white;
  grid-column-start: 3;
  grid-column-end: 3;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none; 
}

#logIn{
  outline: none;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3; 
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none;
}

/* - SignInHomePage ---------------------------------------------------- */

#logIn:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(153, 186, 221);
  box-shadow: 4px 4px 24px 4px rgb(153, 186, 221); 
  outline: none;
}

/* - SignInHomePage ?---------------------------------------------------- */

.sIHomePage{
  display : grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

#quote{
  background-color: rgb(153, 186, 221);
  color: white;
  border: 5px solid white;
  border-radius: 50px;
  margin: 40px;
  margin-right: 680px;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.eBGrid{
  display : grid;
  grid-template-columns: repeat(5, 1fr);
}

.entryBox{
  border: 5px solid rgb(153, 186, 221);
  display : grid;
  grid-column-start: 3;
  grid-column-end: 3;
  width: 315px;
  text-align: center;
  gap: 40px;
  padding: 40px;
  margin-top: 64px;
  border-radius: 10px;
}

#nEntry{
  width: 200px;
  border-radius: 10px;
  margin-left: 15px;
}

#nEntry:hover{
  cursor: pointer;
  box-shadow: 4px 4px 24px 4px;
  width: 200px;
}

#aEntry{
  width: 200px;
  border-radius: 10px;
  margin-left: 15px;
}

#aEntry:hover{
  cursor: pointer;
  box-shadow: 4px 4px 24px 4px;
  width: 200px;
}

#aEntry button, #nEntry button{
  border: none;
}

#logout{
  border: none;
}

/* - NewUserForm ---------------------------------------------------- */

.uNew{
  align-items: center;
  justify-items: center;
  padding-top: 0px;
}

.newForm{
  align-items: center;
  justify-items: center;
  display : grid;
  grid-template-columns: repeat(3 1fr);
  border-radius: 10px;
}

#fname{
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none;
  outline: none;
}

#lname{
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none;
  outline: none;
}

#nSubmit{
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin: 25px;
  background-color: rgb(153, 186, 221);
  color: white;
  font-weight: 700;
  font-size: 25px;
  border: none;
  outline: none;
}

#nSubmit:hover{
  cursor: pointer;
  background-color: white;
  color: rgb(153, 186, 221);
  box-shadow: 4px 4px 24px 4px rgb(153, 186, 221);
}

.usEntri{
  text-align: -webkit-center;
}

/* - UserEntries ---------------------------------------------------- */

.sUE{
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  padding-left: 5%;
}

#userEntriesPage{
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: auto;
}

.entry-card-back{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry-card-back h3{
  padding: 14px 0px;
}

.entry-card-back h4{
  padding: 14px 0px;
}

#doughnut-chart{
  height:500px;
  width:500px;
  margin: 0 auto;
  position: sticky;
  top: 200px;
  margin-right: 30%;
}

#entriesPageContainer{
  display: grid;
  grid-template-columns: 3fr 2fr;

}

#userEntriesPage{
  text-align: center;
  display: grid;
  grid-template-rows: 100px 10fr;
  grid-template-columns: auto;
}

.entry-card-back{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry-card-back h3{
  padding: 14px 0px;
}

.entry-card-back h4{
  padding: 14px 0px;
}

#doughnut-chart{
  height:500px;
  width:500px;
  margin: 0 auto;
  position: sticky;
  top: 100px;
  margin-right: 30%;
}

#entriesPageContainer{
  display: grid;
  grid-template-columns: 3fr 2fr;
}


.banner-container {
  background-image: url("../src/assets/banner/emoji_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-container h1 {
  font-size: 24px;
}

/* - Footer ---------------------------------------------------- */

.footer{
  background-color: rgb(153, 186, 221);
  position: sticky;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: auto;
}

.footer-logo {
  width: 30px;
  margin: 0px 8px;
}

.copyright {
  text-align: right;
  color: white;
  margin-top: 15px;
}

#cr{
  text-align: center;
  color: white;
  font-size: 12px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2; 
}