.parent-container {
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-areas:
    "left left left right";
}

.float-right {
    grid-area: right;
}

.float-left{
    grid-area: left;
}

.testing {
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    border: 1px solid green;
}
